In [1]:
from onem2mlib import *
import onem2mlib.notifications as NOT
import onem2mlib.constants as CON

In [2]:
session = Session('http://0.0.0.0:8080/', 'Cae-admin')

In [3]:
cse = CSEBase(session, 'server')

In [4]:
ae = AE(cse, resourceName='nirmal')

In [5]:
grid_eye = ae.containers()[0]

In [6]:
latest = grid_eye.latestContent()

In [7]:
latest

'100114,8,3,4,10-11-13-7-56'

In [8]:
from IPython.display import display
import pandas as pd

In [ ]:
# Creating empty dataframe
# RUN only if you want to recreate dataset
dict = {
    "unique_id": [],
    "feature_1": [],
    "feature_2": [],
    "feature_3": [],
    "time_stamp": []
}
df = pd.DataFrame(dict)
display(df)
df.to_csv('dataset.csv')

In [9]:
dataset_list = []

In [17]:
print(dataset_list)

[{'unique_id': '100000', 'feature_1': '0', 'feature_2': '0', 'feature_3': '0', 'time_stamp': '10-11-13-11-28'}, {'unique_id': '100001', 'feature_1': '0', 'feature_2': '0', 'feature_3': '0', 'time_stamp': '10-11-13-11-43'}, {'unique_id': '100002', 'feature_1': '0', 'feature_2': '0', 'feature_3': '0', 'time_stamp': '10-11-13-11-58'}, {'unique_id': '100003', 'feature_1': '0', 'feature_2': '0', 'feature_3': '0', 'time_stamp': '10-11-13-12-13'}, {'unique_id': '100004', 'feature_1': '0', 'feature_2': '0', 'feature_3': '0', 'time_stamp': '10-11-13-12-29'}]

In [20]:
# Parse dataset to csv
df = pd.DataFrame(dataset_list)
display(df)
df.to_csv('dataset.csv')

  unique_id feature_1 feature_2 feature_3      time_stamp
0    100000         0         0         0  10-11-13-11-28
1    100001         0         0         0  10-11-13-11-43
2    100002         0         0         0  10-11-13-11-58
3    100003         0         0         0  10-11-13-12-13
4    100004         0         0         0  10-11-13-12-29
5    100005         0         0         0  10-11-13-12-44
6    100006         5         1         5  10-11-13-12-59
7    100007         1         1         1  10-11-13-13-14
8    100008         0         0         0  10-11-13-13-29
9    100009         6         1         6  10-11-13-13-44

In [12]:
def add_to_dataset(content):
    content = content.split(',')
    unique_id, feature1, feature2, feature3, time_stamp =  content[0], content[1], content[2], content[3], content[4]

    # df = pd.read_csv('dataset.csv')
    # display(df)
    data_point = {
        "unique_id": unique_id,
        "feature_1": feature1,
        "feature_2": feature2,
        "feature_3": feature3,
        "time_stamp": time_stamp
    }
    dataset_list.append(data_point)
    # df.append(data_point, ignore_index=True)
    # df.loc[len(df.index)] = [[unique_id, feature1, feature2, feature3, time_stamp]]
    # df.to_csv('dataset.csv')
    print("Adding to dataset successful.")

In [13]:
def callback(resource):
	if resource.type == CON.Type_ContentInstance:
		print(resource.content)
		add_to_dataset(resource.content)
		print("HELLO")
	else:
		print(resource)

In [14]:
print('Setting up notifications...')
NOT.setupNotifications(callback)

Setting up notifications...

True

In [15]:
ae.subscribe()

True

In [16]:
grid_eye.subscribe()

True

100000,0,0,0,10-11-13-11-28
Adding to dataset successful.
HELLO
100001,0,0,0,10-11-13-11-43
Adding to dataset successful.
HELLO
100002,0,0,0,10-11-13-11-58
Adding to dataset successful.
HELLO
100003,0,0,0,10-11-13-12-13
Adding to dataset successful.
HELLO
100004,0,0,0,10-11-13-12-29
Adding to dataset successful.
HELLO

In [ ]:
contents = grid_eye.contents()

print(len(contents))
print(contents)

print(grid_eye.oldestContent())
print(grid_eye.latestContent())